.hot-100-song-name {
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
}

.hot-100-singer-name {
    font-size: 0.85em;
    opacity: 70%;
    display: inline-block;
}

.hot-100-url {
    font-size: 0.85em;
    display: inline-block;
}

.hot-100-ranking {
    font-size: 2.8em;
    font-weight: bold;
    display: inline-block;
    min-width: 2.1em;
}

.hot-100-item-info {
    padding-left: 0.8em;
}   

.hot-100-expand-button {
    border: none;
    font-family: 'JetBrains Mono';
}   

.hot-100-item-detail {
    font-size: 0.9em;
    display: inline-block;
}

.spotify-logo {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  background: #1DB954;
}

.spotify-text {
  font-weight: 700;
}

.helptab-item-detail {
    font-size: 0.82em;
}

.helptab-item-detail-code {
    display: inline-block;
    background-color: #232323;
    color: #F8F9F9;
    margin-left: 1em;
}