body {
  margin: 0;
  font-family: 'JetBrains Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F8F9F9; */
  font-size: 1rem;
  line-height: 1.65rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  font-family: 'JetBrains Mono';
  white-space: pre-wrap;
  margin: 0px;
}
