.wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header > p, a {
    color: #232323;
}

#header a:hover {
    color: #4a8c6b
}

#powered {
    display: flex;
    align-self: center;
    justify-content: center;
}

#powered img {
    height: 2rem;
    padding-left: 12px;
    padding-right: 8px;
}